body,
html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a{
    text-decoration:none;
    color: #000000;
}

.title {
    width: 50vw;
    height: 20vh;
  display: flex;
  align-items: center;
  margin-left: 20vw;

  position: absolute;
  z-index: 2;
  font-family: museo-sans, sans-serif;
}

.title h1 {
   
  color: #000000;
  font-size: 4em;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.artists{
    align-self:center;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    justify-content: center;
    
}
.artist-left {
    width: 50vw;
    height: 20vh;
  position: absolute;
  z-index: 3;
  font-family: museo-sans, sans-serif;
    
  }

  .artist-right {
    width: 50vw;
    height: 20vh;
  position: absolute;
  z-index: 3;
  font-family: museo-sans, sans-serif;
  }

.subtitle {
    width: 50vw;
    height: 20vh;
  display: flex;
  align-items: center;
  margin-left: 60vw;
  
  position: absolute;
  z-index: 2;
  font-family: museo-sans, sans-serif;
}
.subtitle h3 {
  color: #000000;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}

.container {
  display: flex;
}

.img {
  width: 50vw;
  height: 100vh;
}

.overlay-right {
  display: flex;
  position: absolute;
  width: 50vw;
  height: 80vh;
  margin-top: 20vh;
  margin-left: 50vw;
  background: rgb(255, 255, 255, 0.7);
  z-index: 3;
}

.overlay-left {
  display: flex;
  position: absolute;
  width: 50vw;
  height: 80vh;
  margin-top: 20vh;
  background: rgb(255, 255, 255, 0.7);
  z-index: 3;
}

.overlay-left:hover{
  opacity: 0.2;
  z-index: 0;
  color: transparent;
}
.overlay-right:hover {
  opacity: 0.2;
  z-index: 0;
  color: transparent;
}

.white-bar {
  display: flex;
  z-index: 1;
  background: rgb(255, 255, 255, 0.93);
  width: 100vw;
  height: 20vh;
  position: absolute;
}
